/* Import Roboto font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}

.wp-style-button {
    background-color: #28a745;
    /* WordPress green color */
    color: white;
    border: 1px solid #28a745;
    padding: 10px 20px;
    font-size: 12px;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    display: inline-block;
    margin: 10px 15px 0px 0px;
    /* Adds space from the right edge */
}

.wp-style-button:hover {
    background-color: #218838;
    border-color: #1e7e34;
}

.wp-style-button-container {
    display: flex;
    justify-content: space-between;
    /* Ensures Add License button is on the far right */
    align-items: center;
    /* Vertically aligns elements */
    width: 100%;
}

.lkbi-search-property,
.lkbi-user-trade-search-property {
    display: flex;
    align-items: center;
    /* Vertically align the select, input, and button */
    gap: 10px;
    /* Adds space between elements */
}

.lkbi-search-property select,
.lkbi-search-property input,
.lkbi-search-property button {
    height: 40px;
    /* Set a consistent height for all elements */
    padding: 0 10px;
    /* Add padding to the elements */
    font-size: 16px;
    /* Set a font size for consistency */
    box-sizing: border-box;
    /* Ensures padding doesn’t affect element height */
}

.lkbi-user-trade-search-property select,
.lkbi-user-trade-search-property input,
.lkbi-user-trade-search-property button {
    height: 40px;
    /* Set a consistent height for all elements */
    padding: 0 10px;
    /* Add padding to the elements */
    font-size: 16px;
    /* Set a font size for consistency */
    box-sizing: border-box;
    /* Ensures padding doesn’t affect element height */
}

.lkbi-search-property input {
    min-width: 305px;
}

.lkbi-search-property {
    margin: 20px 0px 0px 20px;
}

.lkbi-user-trade-search-property {
    margin: 20px 0px 0px 20px;
}

.lkbi-user-trade-search-property input {
    min-width: 305px;
}

.lkbi-btn-search,
.lkbi-bot-btn-search,
.lkbi-indicator-btn-search,
.lkbi-user-trade-btn-search {
    background-color: #28a745;
    color: white;
    border: 1px solid #28a745;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    display: inline-block;
    min-width: 100px;
}

.lkbi-btn-reset,
.lkbi-bot-btn-reset,
.lkbi-indicator-btn-reset,
.lkbi-user-trade-btn-reset {
    background-color: #ffc107;
    color: white;
    border: 1px solid #ffc107;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    display: inline-block;
    min-width: 100px;
}



.lkib-modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;
}

/* Modal message */
.lkib-modal-message {
    font-size: 1em;
    color: #666;
    margin-bottom: 20px;
}

.lkib-modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 650px;
}

.lkib-modal-close-btn {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.lkib-modal-close-btn:hover,
.lkib-modal-close-btn:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.lkib-bot-modal-close-btn,
.lkib-indicator-modal-close-btn {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.lkib-bot-modal-close-btn:hover,
.lkib-bot-modal-close-btn:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.lkib-indicator-modal-close-btn:hover,
.lkib-indicator-modal-close-btn:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Form Styles */
.lkib-form {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 1200px;
    /* Set a maximum width for the form */
    margin: 0 auto;
    /* Center align the form */
    padding: 20px;
    /* Add padding around the form */
}

.lkib-form-column {
    flex: 1;
}

.lkib-form label {
    margin: 10px 0 5px;
    font-weight: bold;
}

.lkib-form input[type="text"],
.lkib-form input[type="email"],
.lkib-form input[type="number"],
.lkib-form .lkbi-status {
    padding: 8px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    max-width: 100% !important;
}

.lkib-form .lkbi-status {
    appearance: none;
    /* Removes default dropdown styling */
    background-color: #fff;
    padding-right: 24px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='10' viewBox='0 0 20 20'%3E%3Cpath fill='%23666' d='M10 12l-6-6h12z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 8px center;
    cursor: pointer;
    height: 45px;
    max-width: 100% !important;
}

.lkib-form input[type="submit"] {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
    margin-top: 15px;
}

.lkib-form-actions {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    /* Space between buttons */
    margin-top: 20px;
    /* Space above buttons */
    width: 100%;
    /* Ensure this spans the full width */
    flex-wrap: nowrap;
    /* Prevent wrapping of buttons */
}

.submit-btn,
.close-btn,
.delete-btn,
.bot-variable-btn,
.indicator-variable-btn {
    padding: 12px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    width: 48%;

}

.submit-btn {
    background-color: #4CAF50;
    color: white;
}

.delete-btn {
    background-color: #b8b8b8;
    color: white;
}

.close-btn {
    background-color: #DC3545;
    color: white;
}

.bot-variable-btn,
.indicator-variable-btn {
    background-color: #ffc107;
    color: white;
    width: 26%;
}

#customer_results {
    background-color: #fff;
    border: 1px solid #ddd;
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
    z-index: 1000;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}

#customer_results p {
    padding: 8px 12px;
    margin: 0;
    cursor: pointer;
    color: #333;
    font-size: 14px;
}

#customer_results p:hover {
    background-color: #f0f0f0;
}

#product_results {
    background-color: #fff;
    border: 1px solid #ddd;
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
    z-index: 1000;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}

#product_results p {
    padding: 8px 12px;
    margin: 0;
    cursor: pointer;
    color: #333;
    font-size: 14px;
}

#product_results p:hover {
    background-color: #f0f0f0;
}

#pagination-container {
    margin-top: 20px;
    text-align: center;
}

#bot-pagination-container,
#indicator-pagination-container,
#user-trade-pagination-container,
#trade-execution-summary-pagination-container,
#trade-execution-pagination-container {
    margin-top: 20px;
    text-align: center;
}

.pagination-btn,
.bot-pagination-btn,
.indicator-pagination-btn,
.user-trade-pagination-btn,
.user-trade-summary-pagination-btn,
.trade-execution-pagination-btn {
    background-color: #0073aa;
    color: white;
    border: none;
    padding: 5px 10px;
    margin: 0 5px;
    cursor: pointer;
}

.pagination-btn:hover,
.bot-pagination-btn:hover,
.indicator-pagination-btn:hover,
.user-trade-pagination-btn:hover,
.user-trade-summary-pagination-btn:hover,
.trade-execution-pagination-btn:hover {
    background-color: #005f8d;
}

.pagination-btn.active,
.bot-pagination-btn.active,
.indicator-pagination-btn.active,
.user-trade-pagination-btn.active,
.user-trade-summary-pagination-btn.active,
.trade-execution-pagination-btn.active {
    background-color: #005f8d;
    font-weight: bold;
}

.spinner-container {
    display: flex;
    justify-content: center;
    /* Center horizontally */
    align-items: center;
    /* Center vertically */
    position: absolute;
    /* Position it inside the table */
    top: 50%;
    /* Position it vertically in the middle */
    left: 50%;
    /* Position it horizontally in the middle */
    transform: translate(-50%, -50%);
    /* Adjust for perfect centering */
    z-index: 999999;
    /* Make sure it appears above the table content */
}

table.wp-list-table {
    position: relative;
}

/* Style the container for the toast messages */
.toast-container {
    position: fixed;
    top: 50px;
    /* Position it at the top */
    right: 20px;
    /* Position it at the right */
    z-index: 9999;
    max-width: 350px;
    width: 100%;
}

/* Style for the toast message */
.toast {
    /* Default: green (success) */
    color: white;
    padding: 15px 25px;
    border-radius: 8px;
    margin-bottom: 15px;
    font-size: 16px;
    /* Larger text */
    opacity: 0;
    padding: 10px;
    animation: fadeInOut 5s forwards;
}

/* Background color for different toast types */
.toast.success {
    background-color: #4caf50;
    /* Green for success */
}

.toast.warning {
    background-color: #ff9800;
    /* Orange for warning */
}

.toast.error {
    background-color: #f44336;
    /* Red for error */
}

/* Keyframes for fade-in and fade-out animation */
@keyframes fadeInOut {
    0% {
        opacity: 0;
    }

    10% {
        opacity: 1;
    }

    90% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.lkbi-bot-variable-container,
.lkbi-indicator-variable-container {
    display: flex;
    justify-content: flex-end;
    /* Aligns the button to the right */
}

.lkbi-bot-variable-container button {
    /* Optional styling for the button */
    padding: 10px 20px;
    font-size: 16px;
}

.lkbi-indicator-variable-container button {
    /* Optional styling for the button */
    padding: 10px 20px;
    font-size: 16px;
}

.lkbi-switch.status-toggle {
    position: relative;
    display: inline-block;
    width: 34px;
    height: 20px;
}

.lkbi-switch.status-toggle input {
    opacity: 0;
    width: 0;
    height: 0;
}

.lkbi-switch.status-toggle .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 20px;
}

.lkbi-switch.status-toggle .slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}

.lkbi-switch.status-toggle input:checked+.slider {
    background-color: #4CAF50;
}

.lkbi-switch.status-toggle input:checked+.slider:before {
    transform: translateX(14px);
}

.delete-icon:hover {
    color: darkred;
    transform: scale(1.1);
}



/* Style for clickable rows */
.lkbi-clickable-row,
.lkbi-trade-row {
    cursor: pointer;
}

/* Change row background on hover */
.lkbi-clickable-row:hover,
.lkbi-trade-row:hover {
    background-color: #f0f0f0;
    /* Light grey background on hover */
}

/* Add a visual feedback when clicked */
.lkbi-clickable-row:active,
.lkbi-trade-row:active {
    background-color: #d0d0d0;
    /* Slightly darker grey when clicked */
}

/* Style for the positive/negative PNL */
.lkbi-negative-pnl {
    color: red !important;
}

.lkbi-positive-pnl {
    color: green !important;
}

/* Style for the spinner container */
.lkbi-spinner-container {
    display: none;
}

/* No data message */
#lkbi-no-user-trade-data-found-message {
    display: none;
}

/* Pagination container */
#lkbi-user-trade-pagination-container {
    display: none;
}

.lkbi-back-btn {
    font-size: 14px;
    cursor: pointer;
    justify-content: center;
    margin-bottom: 20px;
    transition: background-color 0.3s;
    margin: 0px 0px 0px 0px;
    padding: 8px 15px;
    border: none;
    background-color: #0073aa;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

.lkbi-apply-btn {
    font-size: 14px;
    cursor: pointer;
    justify-content: center;
    margin-bottom: 20px;
    transition: background-color 0.3s;
    margin: 0px 0px 0px 0px;
    padding: 8px 15px;
    border: none;
    background-color: green;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

.lkbi-back-btn:hover {
    background-color: #03618d;
}

.lkbi-back-btn .dashicons {
    margin-right: 8px;
    font-size: 16px;
}

.lkbi-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    margin-bottom: 15px;
}

.lkbi-left-section {
    display: flex;
    gap: 20px;
    align-items: center;
}

.lkbi-right-section {
    display: flex;
    gap: 20px;
    align-items: center;
}

.accordion-icon {
    font-size: 20px;
    color: #0073AA;
    /* Text color */
    /* Background color */
    padding: 10px;
    /* Optional: rounded corners */
    display: inline-block;
    /* Optional: to contain padding properly */
}



/* Basic table styling */
.lkbi-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    font-family: 'Roboto', sans-serif !important; /* Apply Roboto font */
}

/* Table header styling */
.lkbi-table th {
    background-color: #f8f9fa;
    color: #495057;
    text-align: left;
    padding: 12px; /* Increased padding for more height */
    font-size: 14px; /* Increased font size */
    border-bottom: 2px solid #dee2e6;
}

/* Table cell styling */
.lkbi-table td {
    padding: 12px; /* Increased padding for more height */
    font-size: 14px; /* Increased font size */
    border-bottom: 1px solid #dee2e6;
}

/* Table row hover effect */
.lkbi-table tr:hover {
    background-color: #f1f1f1;
}

/* Zebra striping */
.lkbi-table tr:nth-child(odd) {
    background-color: #f9f9f9;
}

/* Border for table */
.lkbi-table {
    border: 1px solid #dee2e6;
    border-radius: 4px;
}

/* Optional: Style for borders around individual cells */
.lkbi-table td, .lkbi-table th {
    border-left: 1px solid #dee2e6;
    border-right: 1px solid #dee2e6;
}

/* Remove left and right borders from first column */
.lkbi-table th:first-child, .lkbi-table td:first-child {
    border-left: none;
}

/* Remove bottom border from last row */
.lkbi-table tr:last-child td {
    border-bottom: none;
}